{% extends "base.html" %}
{% load staticfiles %}
 {% block content %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href={% url "index" %}>首页</a></li>
      <li class="active">职业课程</li>
    </ol>
  </div>
  <div class="container container-course-list">
    <ul class="row course-list">
    {% for course in page  %}
      <li class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <section style="background-color:
        {% cycle '#A9BE32' '#E68E38' '#429FDA' '#D3A21F' '#EE5C5C' '#35AC56' %};">
          <a href="{% url 'course_stage' course.symbol %}">
            <img src="{% static course.imgurl %}">
            <article>
              <h3>{{ course.name }}</h3>
              <p>{{ course.getUserCount }}位学员正在学习</p>

            </article>
          </a>
        </section>
      </li>
    {% endfor %}

    </ul>
    <div class="page-bg-g">
    <h3>第{{ page.number }}页</h3>
      <div class="row v5-pages">
        <div class="col-sm-12 v5-pages-list">
          <ul class="row fr">
            <li><a href="
            {% ifequal page.number 1 %} 
              {{ deadlink }}          
            {% else %}
              ?page={{ page.previous_page_number}}
            {% endifequal %}" 
            class="v5-icon v5-icon-prev"></a>
            </li>
             {% for pageNum in page.paginator.page_range  %}
                <li><a href="?page={{ pageNum }}" 
                class="page-num
                {% ifequal page.number pageNum %} 
                  active
                {% endifequal %}"
                >{{ pageNum }}</a>
            
                </li>
             {% endfor %}
            <li>
            <a href="
            {% ifequal page.number page.paginator.num_pages %}
              {{ deadlink }}
            {% else %}
               ?page={{ page.next_page_number }}
            {% endifequal %}"
             class="v5-icon v5-icon-next"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 {% endblock content %}