{% extends "base.html" %}
{% load staticfiles %}
 {% block content %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href={% url "index" %}>首页</a></li>
      <li class="active">职业课程</li>
    </ol>
  </div>
  <div class="container container-course-list">
  <ul class="row course-list">
  {% include "course_ajax.html" %}
  </ul>
    <div class="page-bg-g">
      <div class="row v5-pages">
        <div class="col-sm-12 v5-pages-list">
          <ul class="row fr">
            <li><a href={{ deadlink }}
            class="v5-icon v5-icon-prev"></a>
            </li>
             {% for pageNum in page.paginator.page_range  %}
                <li><a href={{ deadlink }}
                class="page-num
                {% ifequal page.number pageNum %} 
                  active
                {% endifequal %}"
                >{{ pageNum }}</a>
            
                </li>
             {% endfor %}
            <li>
            <a href= {{ deadlink }}
             class="v5-icon v5-icon-next"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
 {% endblock content %}