{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href="#">首页</a></li>
      <li><a href="#">首页</a></li>
      <li class="active">Android开发工程师</li>
    </ol>
  </div>
  <div class="container">
    <div class="course-stage">
      <div class="course-stage-lead">
        <dl class="course-stage-dl">
          <dt>Android开发工程师</dt>
          <dd>Google正式推出Android L后，便掀起了Android系统的新高潮！各种高端技术惊呆了小编，增强的用户中心。智能化用户认证，多任务功能，应用程序调用，亮瞎了开发者，麦子学院为了让大家了解Android L，专门拍摄了Nexus5真机操作讲解，让你开速掌握新技能...</dd>
        </dl>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="course-data">
              <li><i class="v5-icon v5-icon-student"></i></li>
              <li>2562学员</li>
            </ul>
            <ul class="course-data">
              <li><i class="v5-icon v5-icon-time"></i></li>
              <li>60小时</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="course-btn">
              <li><button type="button" class="btn btn-micv5 btn-xlg">体验学习</button></li>
              <li><a href="" class="link-default">课程详细介绍</a></li>
            </ul>
          </div>
        </div>
      </div>
      <section>
        <dl class="course-stage-dl">
          <dt>阶段一 “机器人”的母语Java</dt>
          <dd>Google正式推出Android L后，便掀起了Android系统的新高潮！各种高端技术惊呆了小编，增强的用户中心。智能化用户认证，多任务功能，应用程序调用，亮瞎了开发者，麦子学院为了让大家了解Android L，专门拍摄了Nexus5真机操作讲解，让你开速掌握新技能...</dd>
        </dl>
        <div class="row course-stage-item">
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/9.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/10.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
        </div>
      </section>
      <section>
        <dl class="course-stage-dl">
          <dt>阶段二 “机器人”的母语Java</dt>
          <dd>Google正式推出Android L后，便掀起了Android系统的新高潮！各种高端技术惊呆了小编，增强的用户中心。智能化用户认证，多任务功能，应用程序调用，亮瞎了开发者，麦子学院为了让大家了解Android L，专门拍摄了Nexus5真机操作讲解，让你开速掌握新技能...</dd>
        </dl>
        <div class="row course-stage-item">
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/9.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/10.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="" title="从Google 2014 I/O 大会看Android"><img src={% static "test/8.jpg" %}></a></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
        </div>
      </section>
      <section>
        <dl class="course-stage-dl">
          <dt>阶段三 “机器人”的母语Java</dt>
          <dd>Google正式推出Android L后，便掀起了Android系统的新高潮！各种高端技术惊呆了小编，增强的用户中心。智能化用户认证，多任务功能，应用程序调用，亮瞎了开发者，麦子学院为了让大家了解Android L，专门拍摄了Nexus5真机操作讲解，让你开速掌握新技能...</dd>
        </dl>
        <div class="row course-stage-item">
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><img src={% static "test/8.jpg" %}></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><img src={% static "test/9.jpg" %}></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><img src={% static "test/10.jpg" %}></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><img src={% static "test/8.jpg" %}></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><img src={% static "test/8.jpg" %}></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><img src={% static "test/8.jpg" %}></div>
            <div class="artc-bt">
              <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>1小时12分钟</p>
            </div>
          </article>
        </div>
      </section>
    </div>
  </div>
  
{% endblock content %}
