{% extends "base.html" %}
{% load course_filter %}
{% load staticfiles %}
{% block content %}
  <div class="container">
    <ol class="breadcrumb">
      <li><a href={% url "index" %}>首页</a></li>
      <li><a href={% url "course_list" %}>职业课程</a></li>
      <li class="active">{{career.name}}</li>
    </ol>
  </div>
  <div class="container">
    <div class="course-stage">
      <div class="course-stage-lead">
        <dl class="course-stage-dl">
          <dt>{{career.name}}</dt>
          <dd>{{career.description}}</dd>
        </dl>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="course-data">
              <li><i class="v5-icon v5-icon-student"></i></li>
              <li>{{ career.getUserCount }}学员</li>
            </ul>
            <ul class="course-data">
              <li><i class="v5-icon v5-icon-time"></i></li>
              <li>{{ career.getTimeToSpend|getHourMinute}}</li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <ul class="course-btn">
              <li><button type="button" class="btn btn-micv5 btn-xlg">体验学习</button></li>
              <li><a class="link-default">课程详细介绍</a></li>
            </ul>
          </div>
        </div>
      </div>
      {# one stage start #}
      {% for stage in career.stage_set.all  %}
      <section >
        
        <dl class="course-stage-dl">
          <dt>{{stage.name}}</dt>
          <dd>{{stage.description}}</dd>
        </dl>
        <div class="row course-stage-item">
        {% with stage.career_course.symbol as symbol %}          
        {% for course in stage.course_set.all %}
          <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
            <div class="lead-img"><a href="
                {% if login %}             
                {% url 'recent_play' course.id %}?stageid={{course.stage.id}}
                {% else %}
                {% url 'course_play' symbol course.id course.lesson_set.all.0.id as course_play_url %}
                {{ course_play_url }}
                {% endif %}
              "
            title={{ course.description}}><img src={{ course.avatarUrl.url }}></a></div>
            <div class="artc-bt">
              <h3><a href="
                {% if login %}             
                {% url 'recent_play' course.id %}?stageid={{course.stage.id}}
                {% else %}
                {{ course_play_url }}
                {% endif %}
              "
              title={{ course.name }}>{{ course.name }}</a></h3>
              <p><i class="v5-icon v5-icon-stime"></i>{{ course.getTimeToSpend|getHourMinute }}</p>
            </div>
          </article>
        {% endfor %}
        {% endwith %}
        </div>
      </section>
      {% empty %}
      课程为空
      {% endfor %}
      {# one stage end #}
    </div>
  </div>

{% endblock content %}
