{% extends 'student/my-center-file/student_base.html' %}
{% load staticfiles %}
{% block title %}<title>个人中心-我的收藏</title>{% endblock %}
{% block main_content %}
  <div class="container uc-boxb">
    <div class="uc-h1">我的收藏</div>
    <div class="row other-course">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/9.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/10.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/10.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/10.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="lead-img"><img src="{% static "test/8.jpg"%}"><a href="" class="opt">继续学习</a></div>
        <div class="artc-bt">
          <h3><a href="" title="从Google 2014 I/O 大会看Android">从Google 2014 I/O 大会看Android L</a></h3>
          <p>已观看到第三章</p>
        </div>
      </article>
    </div>
  </div>
{% endblock %}