{% extends 'student/my-center-file/student_base.html' %}
{% load staticfiles %}
{% block title %}<title>个人中心-我的证书</title>{% endblock %}
{% block main_content %}
  <div class="container uc-boxb">
    <div class="uc-h1">证书列表</div>
    <div class="row certificate">
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="certificate-img"><img src="{% static "test/16.jpg"%}"><a href="" class="big-download"><span>Android应用开发工程师</span><img src="{% static "images/big-dn.png"%}"></a></div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="certificate-img"><img src="{% static "test/16.jpg"%}"><a href="" class="big-download"><span>Android应用开发工程师</span><img src="{% static "images/big-dn.png"%}"></a></div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="certificate-img"><img src="{% static "test/16.jpg"%}"><a href="" class="big-download"><span>Android应用开发工程师</span><img src="{% static "images/big-dn.png"%}"></a></div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="certificate-img"><img src="{% static "test/16.jpg"%}"><a href="" class="big-download"><span>Android应用开发工程师</span><img src="{% static "images/big-dn.png"%}"></a></div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="certificate-img"><img src="{% static "test/16.jpg"%}"><a href="" class="big-download"><span>Android应用开发工程师</span><img src="{% static "images/big-dn.png"%}"></a></div>
      </article>
      <article class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <div class="certificate-img"><img src="{% static "test/16.jpg"%}"><a href="" class="big-download"><span>Android应用开发工程师</span><img src="{% static "images/big-dn.png"%}"></a></div>
      </article>
    </div>
    <div class="page-bg-w">
      <div class="row v5-pages">
        <div class="col-sm-12 v5-pages-list">
          <ul class="row fr">
            <li><a href="" class="v5-icon v5-icon-prev"></a></li>
            <li><a href="" class="page-num active">1</a></li>
            <li><a href="" class="page-num">2</a></li>
            <li><a href="" class="page-num">3</a></li>
            <li><a href="" class="page-num">4</a></li>
            <li><a href="" class="page-num">5</a></li>
            <li><a href="" class="v5-icon v5-icon-next"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}