{% load staticfiles %}
<div class="v5-titline"></div>
<div class="container">
    <div class="v5-recommend">
        <div class="v5-tabs-box" id="v5-tabs">
            <ul class="v5-tabs" id="v5-tabs" role="tablist">
                <li class="active"><a href="#new" class="is-active" role="tab" data-toggle="tab">最新课程</a></li>
                <li><a href="#most" role="tab" data-toggle="tab">最多播放</a></li>
                <li><a href="#hot" role="tab" data-toggle="tab">最具人气</a></li>
            </ul>
            <div class="tabs-container tab-content">
                <div class="v5-course-item tab-pane fade in active" id="new" data-holder="holdernew">
                    <div class="page-item">
                        <ul class="row course-list-index">
                            {% for course in new_add %}
                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <a href="">
                                        <dl>
                                            <dt>
                                            <div style="width:275px;height:174px"><img
                                                    src="{{ media_url }}{{ course.img_url }}"></div>
                                            </dt>
                                            <dd>
                                                <span>{{ course.name }}</span>

                                                <p>{{ course.play_count }}人正在学习</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="page-bg-w">
                        <div class="row v5-pages">
                            <div class="col-sm-12 v5-pages-list">
                                <ul class="row fr">
                                    {% if new_add.has_previous %}
                                        <li><a href="?page={{ new_add.previous_page_number }}"
                                               class="v5-icon v5-icon-prev"></a></li>
                                    {% else %}
                                        <li class="v5-icon v5-icon-prev"></li>
                                    {% endif %}
                                    {% for page in new_add.paginator.page_range %}
                                        {% ifequal page new_add.number %}
                                            <li><a href="?page={{ page }}" class="page-num active">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ page }}" class="page-num">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% endfor %}
                                    {% if new_add.has_next %}
                                        <li><a href="?page={{ new_add.next_page_number }}"
                                               class="v5-icon v5-icon-next"></a></li>
                                    {% else %}
                                        <li class="v5-icon v5-icon-next"></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v5-course-item tab-pane fade" id="most" data-holder="holdermost">
                    <div class="page-item">
                        <ul class="row course-list-index">
                            {% for course in most_play %}
                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <a href="">
                                        <dl>
                                            <dt>
                                            <div style="width:275px;height:174px"><img
                                                    src="{{ media_url }}{{ course.img_url }}"></div>
                                            </dt>
                                            <dd>
                                                <span>{{ course.name }}</span>

                                                <p>{{ course.play_count }}人正在学习</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="page-bg-w">
                        <div class="row v5-pages">
                            <div class="col-sm-12 v5-pages-list">
                                <ul class="row fr">
                                    {% if most_play.has_previous %}
                                        <li><a href="?page={{ most_play.previous_page_number }}"
                                               class="v5-icon v5-icon-prev"></a></li>
                                    {% else %}
                                        <li class="v5-icon v5-icon-prev"></li>
                                    {% endif %}
                                    {% for page in most_play.paginator.page_range %}
                                        {% ifequal page most_play.number %}
                                            <li><a href="?page={{ page }}" class="page-num active">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ page }}" class="page-num">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% endfor %}
                                    {% if most_play.has_next %}
                                        <li><a href="?page={{ most_play.next_page_number }}"
                                               class="v5-icon v5-icon-next"></a></li>
                                    {% else %}
                                        <li class="v5-icon v5-icon-next"></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="v5-course-item tab-pane fade" id="hot" data-holder="holderhot">
                    <div class="page-item">
                        <ul class="row course-list-index">
                            {% for course in hot_favorite %}
                                <li class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
                                    <a href="">
                                        <dl>
                                            <dt>
                                            <div style="width:275px;height:174px"><img
                                                    src="{{ media_url }}{{ course.img_url }}"></div>
                                            </dt>
                                            <dd>
                                                <span>{{ course.name }}</span>

                                                <p>{{ course.play_count }}人正在学习</p>
                                            </dd>
                                        </dl>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="page-bg-w">
                        <div class="row v5-pages">
                            <div class="col-sm-12 v5-pages-list">
                                <ul class="row fr">
                                    {% if hot_favorite.has_previous %}
                                        <li><a href="?page={{ hot_favorite.previous_page_number }}"
                                               class="v5-icon v5-icon-prev"></a></li>
                                    {% else %}
                                        <li class="v5-icon v5-icon-prev"></li>
                                    {% endif %}
                                    {% for page in hot_favorite.paginator.page_range %}
                                        {% ifequal page hot_favorite.number %}
                                            <li><a href="?page={{ page }}" class="page-num active">{{ page }}</a></li>
                                        {% else %}
                                            <li><a href="?page={{ page }}" class="page-num">{{ page }}</a></li>
                                        {% endifequal %}
                                    {% endfor %}
                                    {% if hot_favorite.has_next %}
                                        <li><a href="?page={{ hot_favorite.next_page_number }}"
                                               class="v5-icon v5-icon-next"></a></li>
                                    {% else %}
                                        <li class="v5-icon v5-icon-next"></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>