<dl class="f-link">
    <dt>友情链接</dt>
    <dd>
        <ul>
            <li class="cf">
                <a href="">网易云课堂</a><span>|</span>
                <a href="">腾讯课堂</a><span>|</span>
                <a href="">微信营销</a><span>|</span>
                <a href="">文档转换网</a><span>|</span>
                <a href="">浪曦IT视频</a><span>|</span>
                <a href="">自主学习网</a><span>|</span>
                <a href="">网易云课堂</a><span>|</span>
                <a href="">腾讯课堂</a><span>|</span>
                <a href="">微信营销</a><span>|</span>
                <a href="">浪曦IT视频</a><span>|</span>
                <a href="">自主学习网</a><span>|</span>
                <a href="">网易云课堂</a><span>|</span>
                <a href="">腾讯课堂</a><span>|</span>
                <a href="">微信营销</a><span>|</span>
            </li>
            <li class="cf">
                <a href="">网易云课堂</a><span>|</span>
                <a href="">腾讯课堂</a><span>|</span>
                <a href="">微信营销</a><span>|</span>
                <a href="">文档转换网</a><span>|</span>
                <a href="">浪曦IT视频</a><span>|</span>
                <a href="">自主学习网</a><span>|</span>
                <a href="">网易云课堂</a><span>|</span>
                <a href="">腾讯课堂</a><span>|</span>
                <a href="">微信营销</a><span>|</span>
                <a href="">浪曦IT视频</a><span>|</span>
                <a href="">自主学习网</a><span>|</span>
                <a href="">网易云课堂</a><span>|</span>
                <a href="">腾讯课堂</a><span>|</span>
                <a href="">微信营销</a><span>|</span>
            </li>
        </ul>
    </dd>
</dl>