{% load staticfiles %}
<div class="v5-titline">
    <div class="container">
        <h1>名师风采</h1>
    </div>
</div>
<div class="container">
    <div class="tc-list">
        <a id="prev" class="prev" href="#"></a>

        <div class="tc-list-w">
            <ul id="foo" class="cf">
                {% for teacher in teacher_list %}
                <li>
                    <dl>
                        <dt><a href="" style="border-left-color:#00A388;"><img src="{{ teacher.user.avatar_thumbnail_url }}"></a>
                        </dt>
                        <dd>
                            <h2>{{ teacher.user.first_name }}{{ teacher.user.last_name }}</h2>

                            <h3>{{ teacher.position }}</h3>
                        </dd>
                    </dl>
                </li>
                {% endfor %}
            </ul>
        </div>
        <a id="next" class="next" href="#"></a>
    </div>
</div>