{% load staticfiles %}
<div class="v5-titline">
            <div class="container">
                <h1>名师风采</h1>
            </div>
        </div>
<div class="container">
            <div class="tc-list">
                <a id="prev" class="prev" href="#"></a>

                <div class="tc-list-w">
                    <ul id="foo" class="cf">
                        <li>
                            <dl>
                                <dt><a href="" style="border-left-color:#00A388;"><img src="{% static 'test/2.jpg' %}"></a>
                                </dt>
                                <dd>
                                    <h2>杨丰盛</h2>

                                    <h3>安卓框架联盟总架构师</h3>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="" style="border-left-color:#FF6038;"><img
                                        src="t{% static 'test/17.jpg' %}"></a></dt>
                                <dd>
                                    <h2>杨丰盛</h2>

                                    <h3>安卓框架联盟总架构师</h3>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="" style="border-left-color:#00A388;"><img src="{% static 'test/2.jpg' %}"></a>
                                </dt>
                                <dd>
                                    <h2>杨丰盛</h2>

                                    <h3>安卓框架联盟总架构师</h3>
                                </dd>
                            </dl>
                        </li>
                        <li>
                            <dl>
                                <dt><a href="" style="border-left-color:#78BD8B;"><img src="{% static 'test/2.jpg' %}"></a>
                                </dt>
                                <dd>
                                    <h2>杨丰盛</h2>

                                    <h3>安卓框架联盟总架构师</h3>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
                <a id="next" class="next" href="#"></a>
            </div>
        </div>